<article class="shadow-lg bg-white text-black">
    <a href="{{ camp.get_absolute_url() }}" class="block">
        <div class="overflow-hidden h-48 relative">
            <img alt="Placeholder" class="absolute block h-auto h-full object-cover top-0 w-f w-full" src="/static/img/bg-1.jpg">
        </div>
        <header class="p-2 px-5 bg-white relative">
            <h2 class="text-2xl font-heading mt-2">{{ camp.name }}</h2>
            {# <p>{{camp.next_game_dt}}</p> #}
        </header>
        <div class="bg-dark-blue text-white grid grid-cols-4 text-xs px-5 py-3">
        <div class="flex items-center">
            <img src="/static/img/user.svg" class="w-5 mr-2">
            <span class="pt-1">{{ camp.players.count() }} / {{camp.max_players}}</span>
        </div>
        <div class="flex items-center">
            <img src="/static/img/dice.svg" class="w-5 mr-2">
            <span class="pt-1">3</span>
        </div>
        <div class="flex items-center">
            <img src="/static/img/dice.svg" class="w-5 mr-2">
            <span class="pt-1">3</span>
        </div>
        <div class="flex items-center">
            <img src="/static/img/calendar.svg" class="w-5 mr-3">
            <span class="pt-1">20/12/06</span>
        </div>
    </div>
        <div class="bg-white text-xs px-3 py-1">
            <div class="flex items-center">
                <img src="/static/img/bg-1.jpg" class="mr-2 w-8 h-8"> 
                <span>Hosted by {{camp.creator}}</span>
            </div>
        </div>
    </a>
</article>