<div class="flex flex-col form text-xs pt-5" id="games-filter-form">
  <div>
    <label for="players" class="mb-2 block">Campaign type:</label>
    <div class="filter-select">
      <span>
        <img src="/static/img/user.svg">
      </span>
      {{filter_form.campaign_type}}
    </div>
  </div>
  <div>
    <label for="players" class="mb-2 block">Role play level:</label>
    <div class="filter-select">
      <span>
        <img src="/static/img/user.svg">
      </span>
      {{filter_form.role_play_level}}
    </div>
  </div>
  <div>
    <label for="players" class="mb-2 block">Role play level:</label>
    <div class="filter-select">
      <span>
        <img src="/static/img/user.svg">
      </span>
      {{filter_form.role_play_level}}
    </div>
  </div>
  <div>
    <label for="players" class="mb-2 block">Game Start:</label>
    <div class="filter-select">
      <span>
        <img src="/static/img/user.svg">
      </span>
      <input type="date" name="next_game_from">
    </div>
  </div>
  <div>
    <label for="players" class="mb-2 block">Game End:</label>
    <div class="filter-select">
      <span>
        <img src="/static/img/user.svg">
      </span>
      <input type="date" name="next_game_from">
    </div>
  </div>
  <div>
    <label for="players" class="flex justify-between mb-2">
      <span>Beginners Welcome</span>
      {{filter_form.beginners_welcome}}
    </label>
  </div>
  <div>
    <label for="players" class="flex justify-between">
      <span>Exclude Mature Content</span>
      {{filter_form.exclude_mature_content}}
    </label>
  </div>
</div>



