<footer class="bg-dark-blue text-gray-600 py-10 text-xs">
  <div class="container mx-auto">
    <div class="text-center">
    <p>Dungeons & Dragons, D&D, their respective logos, and all Wizards titles and characters are property of Wizards of the Coast LLC in the U.S.A. and other countries. ©2020 Wizards.</p>
  </div>
</footer>
</body>
</html>