<div class="w-1/4 px-4 mt-20">
	<div class="bg-gradient-to-t block border-2 border-gray-600 border-solid from-gray-800 p-10 pt-0">
		<div class="-mt-14 h-32 inline-block overflow-hidden rounded-full w-32">
			<svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="174" height="200" viewbox="0 0 173.20508075688772 200" class="w-full h-full">
				<defs>
					<clipPath id="hexagon">
						<path fill="#fff" d="M86.60254037844386 0L173.20508075688772 50L173.20508075688772 150L86.60254037844386 200L0 150L0 50Z"></path>
					</clipPath>
				</defs>
				<image width="100%" height="100%" clip-path="url(#hexagon)"  xlink:href="https://vignette.wikia.nocookie.net/agros/images/8/8d/Pic_189.jpg/revision/latest?cb=20190803154113" >
				</image>
			</svg>
		</div>
		<div class="text-center py-5 text-white">
			<h3 class="text-xl">{{player}}</h3>
		</div>
	</div>
</div>