<a href="/profile" class="bg-gradient-to-t block border-2 border-gray-600 border-solid from-gray-800 p-10">
  <div class="h-64 mx-auto overflow-hidden w-full">
    <img src="https://vignette.wikia.nocookie.net/agros/images/8/8d/Pic_189.jpg/revision/latest?cb=20190803154113">
  </div>
  <div class="py-5 text-white">
    <h3 class="text-xl">Chris Sawyer</h3>
  </div>
</a>
