<title>{{meta_title}} | Dungeon Finder</title>
<link rel="canonical" href="{{request.build_absolute_uri()}}" />
<meta name="description" content="{{meta_description}}">
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta charset="utf-8" />
<meta property="og:url" content="{{request.build_absolute_uri()}}">
<meta property="og:title" content="Dungeon Finder">
<meta property="og:description" content="{{meta_description}}">
<meta property="og:url" content="{{request.build_absolute_uri()}}">
<meta property="og:type" content="website" />
