<div class="flex items-center ml-auto navbar-menu w-auto">
<ul class="flex hidden items-center md:flex">
            <li class="block lg:inline-block">
             <a href="/login">Login</a>
           </li>
           <span class="mx-2">|</span>
           <li class="block lg:inline-block">
             <a href="/signup">Sign Up</a>
           </li>
        </ul>
         <div class="block ml-6 bg-gray-800">
          <button class="navbar-burger flex items-center outline-none p-3" id="nav-toggle">
            <svg class="h-6 w-6" viewbox="0 0 20 20" xmlns="http://www.w3.org/2000/svg" fill="#fff">
              <title>Menu</title>
              <path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z"></path>
            </svg>
            <svg class="h-6 w-6" fill="#FFFFFF" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" x="0px" y="0px"><path d="m7.41421356 6 4.24264064 4.2426407-1.4142135 1.4142135-4.2426407-4.24264064-4.24264069 4.24264064-1.41421356-1.4142135 4.24264069-4.2426407-4.24264069-4.24264069 1.41421356-1.41421356 4.24264069 4.24264069 4.2426407-4.24264069 1.4142135 1.41421356z" fill-rule="evenodd" transform="translate(2 2)"></path></svg>
          </button>
</div>

