<ul class="flex items-center text-xs" style="height: 50px;">
 <li class="block lg:inline-block mr-4">
    <a href="/login" class="bg-gray-700 block border-r-8 p-2 px-5 rounded text-white">View Games</a>
  </li>
  <li class="block lg:inline-block mr-4">
    <a href="/login" class="bg-gray-700 block border-r-8 p-2 px-5 rounded text-white">Host Game</a>
  </li>
<li class="block lg:inline-block relative">
    <label for="user-menu-toggle">
        <span class="rounded-full h-8 w-8 bg-white flex items-center justify-center text-sm bg-red-700 text-white"> 
          {{ user.initials() }}
        </span>
    </label>
    <input type="checkbox" name="user-menu-toggle" id="user-menu-toggle" class="hidden">
    <div id="user-menu" class="origin-top-right absolute right-0 mt-2 w-32 rounded-md shadow-lg bg-white ring-1 ring-black ring-opacity-5">
    <div class="py-1" role="menu" aria-orientation="vertical" aria-labelledby="options-menu">
    <a href="/" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 hover:text-gray-900" role="menuitem">Dashboard</a>
      <a href="/edit-profile" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 hover:text-gray-900" role="menuitem">Edit Profile</a>
      <a href="{{ url('user-themes') }}" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 hover:text-gray-900" role="menuitem">Theme</a>
       <a href="/logout" class="block w-full text-left px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 hover:text-gray-900 focus:outline-none focus:bg-gray-100 focus:text-gray-900" role="menuitem">
          Sign out
        </a>
      </form>
    </div>
  </div>
</li>
</ul>