{% extends 'base.jinja' %}

{% block content %}
  <div id="campaigns-filter-form">
    {# Filter form is the filter_form object passed through the context to this template. Renders nicely #}
    {{ filter_form }}
  </div>
  <div id="campaigns-list" data-camps-data-url="{{ url('avail-campaigns-data') }}">
{#    Perhaps have a spinner here or loading icon?#}
  </div>
{% endblock %}
