{% extends 'base.jinja' %}

{% block content %}
  <h1>{{ campaign.name }}</h1>
  <p>{{ campaign.description }}</p>
  <ul>
    {% for player in campaign.players.all() %}
      <li>{{ player }}</li>
    {% endfor %}
  </ul>
{% endblock %}
