{% extends 'base.jinja' %}

{% block content %}
  <section class="pt-20 pb-10" id="overview">
    <div class="container mx-auto text-center">
      <h2 class="text-3xl mt-2 leading-tight font-heading text-gradient">{{ campaign.name }}</h2>
      <h3 class="text-2xl mt-2 leading-tight font-heading text-gray-500">4 Days until next game</h3>
    </div>
  </section>
  <section class="py-10" id="story">
    <div class="container mx-auto">
      <div class="w-2/3 mx-auto">
        <div class="hr-icon">
          <img src="{{ static('img/shield-and-sword.svg') }}" alt="">
        </div>
        <hr class="hr-text text-xl" data-content="The Story">
        <article class="frame-gold camp-story">
          <div class="bg-light p-5">
            <p>{{ campaign.description }}</p>
            <!-- P tags to be removed, when we create the input field for the description. This
              should be a WYSIWYG editor, allowing the users to create their own paragraphs --->
          </div>
        </article>
      </div>
    </div>
  </section>
  <section class="py-10" id="gm">
    <div class="container mx-auto">
      <div class="w-2/3 mx-auto">
        <div class="hr-icon">
          <img src="{{ static('img/crown.svg') }}" alt="">
        </div>
        <hr class="hr-text text-xl" data-content="The GM">
      </div>
      <div class="flex">
        <div class="w-1/4 pl-10">
          {% include 'partials/profile_listing.jinja' %}
        </div>
        <div class="w-3/4 pl-10">

        </div>
      </div>
    </div>
  </section>
  <section class="py-10" id="players">
    <div class="container mx-auto text-center">
      <div class="w-2/3 mx-auto mb-10">
        <div class="hr-icon">
          <img src="{{ static('img/helmet.svg') }}" alt="">
        </div>
        <hr class="hr-text text-xl leading-7" data-content="The Players">
      </div>
      <div class="flex flex-wrap justify-center">
        {% for player in campaign.players.all() %}
          {% include 'partials/player.jinja' %}
        {% endfor %}
      </div>
    </div>
  </section>
  <div class="bg-dark bottom-0 fixed flex items-center justify-between p-6 text-xs w-full z-10 font-heading">
    <div>
      {{ campaign }}
    </div>
    <ul class="flex">
      <li>
        <a href="#overview" class="p-5">Overview</a>
      </li>
      <li>
        <a href="#story" class="p-5">Story</a>
      </li>
      <li>
        <a href="#gm" class="p-5">Game Master</a>
      </li>
      <li>
        <a href="#players" class="p-5">Players</a>
      </li>
    </ul>
    {% if view.part_of_game %}
      {% if not request.user.is_gm %}
        <a href="{{ url('campaign-leave', pk=campaign.id) }}"
           data-method="POST"
           data-confirm="Are you sure you want to leave this campaign?"
           class="inline-block py-4 px-8 leading-none text-white btn hover:bg-indigo-600 rounded shadow">
          Leave Campaign
        </a>
      {% else %}
        <a href="{{ url('campaign-delete', pk=campaign.id) }}"
           data-method="POST"
           data-confirm="Are you sure you want to delete this campaign? All players will receive a notification telling them the Campaign has been deleted."
           class="inline-block py-4 px-8 leading-none text-white btn hover:bg-indigo-600 rounded shadow">
          Delete Campaign
        </a>
      {% endif %}
    {% elif request.user.is_authenticated %}
      {% if campaign.game_full() %}
        Sorry, this game is full, please check another.
      {% else %}
      <a href="{{ url('campaign-join', pk=campaign.id) }}"
         data-method="POST"
         data-confirm="Are you sure you want to join this campaign?"
         class="inline-block py-4 px-8 leading-none text-white btn hover:bg-indigo-600 rounded shadow">
        Join Campaign
      </a>
      {% endif %}
    {% else %}
      <a href="{{ url('signup') }}?next={{ url('campaign-join', pk=campaign.pk) | urlencode }}"
         class="inline-block py-4 px-8 leading-none text-white btn hover:bg-indigo-600 rounded shadow">
        Sign up to join this Campaign
      </a>
    {% endif %}
  </div>
  {% if view.part_of_game %}
    <section class="messages">
      <div id="messages"></div>
      <form method="post" action="{{ url('camp-message-add', pk=campaign.pk) }}" id="create-message-form">
        <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
        <div class="form-group">
          <div class="d-flex">
            <textarea name="text" rows="3" required id="id_text" class="form-control" placeholder="Add to the conversation..."></textarea>
          </div>
        </div>
        <input id="message-submit" type="submit" value="Send" class="btn"/>
      </form>
    </section>
    <script>
      window.msg_feed_url = '{{ url('camp-message-feed', pk=campaign.pk) }}'
    </script>
  {% endif %}
{% endblock %}
