<html>
  <head>
      <!-- Chris smells -->
    <link rel="stylesheet" href="{{ static('/dist/main.bundle.css') }}" crossorigin="anonymous">
  </head>
  <body>
    {% if request.user.is_authenticated %}
      I am authenticated
    {% endif %}
    {% block content %}{% endblock %}
{#    JQuery has to be included separately because it sucks.#}
    <script src="http://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="{{ static('/dist/main.js') }}"></script>
  </body>
</html>
