{% extends 'base.jinja' %}

{% block content %}
  <section class="pb-20 pt-20 px-4 text-white">
  <div class="w-full max-w-2xl mx-auto">
    <h1 class="text-4xl mt-2 leading-tight font-heading text-center">{{view.form_title}}</h1>
    {% block extra_content %} {% endblock %}
    <div class="w-full max-w-xl mx-auto py-10">
    <form method="post" class="frame-gold text-black">
        <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
        <div class="p-10 bg-white">
          {{ form }}
          <button class="btn btn-primary w-full" type="submit">{{ view.button_label }}</button>
        </div>
      </form>
    </div>
  </div>
</section>
{% endblock %}
