$dark_themes: (
    "red": #b91c1b, 
    "green": green, 
    "blue": blue, 
    "gold": gold
    );

$light_themes: (
    "light-red": #b91c1b,
    "light-green": green, 
    "light-blue": blue, 
    "light-gold": gold
);


@each $theme, $colour in $dark_themes {
    .theme-#{$theme}{
        .text-red-600{
            color: $colour;
        }

        .theme-bg,
        .bg-red-700{
            background: $colour;
        }
    
        .theme-option.selected{
            background-color: $colour;
            border-color: $colour;
        }

        .btn{
            background-image: -webkit-linear-gradient(top, $colour, darken($colour, 6%));
        }
    }
}

@each $theme, $colour in $light_themes {
    .theme-#{$theme}{
        background: #fdecc7;
        color: #333;

        nav{
            background-color: #e7d4a9;

            .logo{
                background-image: url(../img/nav-shield-invert.png);
            }
        }

        .text-red-600{
            color: $colour;
        }

        .theme-bg,
        .bg-red-700{
            background: $colour;
        }
    
        .theme-option.selected{
            background-color: $colour;
            border-color: $colour;
        }

        .btn{
            background-image: -webkit-linear-gradient(top, $colour, darken($colour, 6%));
        }
    }
}


// Theme Selection //

.theme-option {
    border: 5px solid #444;
    padding: 5px;
    cursor: pointer;

    &:hover{
        border-color: #fff;
    }
}

