{% extends 'base.jinja' %}

{% block content %}
<section class="pb-20 pt-20 px-4 text-center flex items-center">
  <div class="w-full max-w-5xl mx-auto">
    <h2 class="text-4xl mt-2 leading-tight font-heading">Welcome back {{user}}</h2>
</div>
</div>
</section>
{% endblock %}
