{% extends 'base.jinja' %}

{% block content %}
  <form method="post">
    <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
    <div id="signup-form">
      {{ form }}
      <button class="btn btn-primary" type="submit">Sign up</button>
    </div>
  </form>
{% endblock %}
